<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TKOA</title>
    <!-- The King Of Ant -->
    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- jQuery -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 우편번호 -->
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap" rel="stylesheet">
    <!-- start for html of javascript -->
    <script>

        $(function(){

            $('.btn6').click(function(){
                const datas = $('.btn12').val();
                $.ajax({
                    url: `/jong/${'<%= com.company_name %>'}/buy`,
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        'data': datas,
                        'name': name,
                    },
                    success: (result) => {
                        if(result['result'] == 'wrong'){
                            alert('보유하신 돈을 제대로 입력해주세요!');
                            $('.btn12').val(0);
                        }else if(result['result'] == 'over'){
                            alert('모금액보다 많이 넣으셨습니다!');
                            $('.btn12').val(0);
                        }else if(result['result'] == 'success'){
                            alert('매수성공!');
                            $('.btn12').val(0);
                            location.reload();
                        }else if(result['result'] == 'soldout'){
                            alert('매진입니다! 다음기회에!');
                            location.reload();
                        }
                    }
                })
            });

            $('.max_won2').click(function(){
                $.ajax({
                    url: `/jong/${'<%= com.company_name %>'}/money`,
                    dataType: 'json',
                    type: 'POST',
                    data: {'name' : '<%= name %>'},
                    success: (result) => {
                        console.log(result['result']);
                        $('.btn12').val(result['result']);
                    }
                })
            });

            $('.max_won').click(function(){
                $('.btn12').val(0);
            });

        });
    </script>
    <style>
        #graph{
            width: <%= Math.floor( 100 - ((((com.company_price * com.company_count) - com.sold_money) / (com.company_price * com.company_count) ) * 100)) %>%;
        }
    </style>
</head>
<body>

    <!-- pc recommend mobile -->
    <div class="left_wrapper">
        <div class="box"></div>
        <div class="pc_only">
            <div class="img_area">
                <img src="/images/logobox.png" alt="TKOA로고">
            </div>
            <div class="img_people">
                <img src="/images/anthalf.png" alt="ant">
            </div>
            <div class="title">
                비상장주식 거래소<br>첫걸음
                <p>트코아는<br>비상장 회사의<br>주식을 확보하여<br>주주가 될 수 있게 합니다.</p>
                <p class="blue">트코아 웹사이트는 모바일 웹 환경으로 구성되었습니다!</p>
            </div>
        </div>

    </div>
    <!-- mobile-area -->
    <div class="right_wrapper3">
        <div class="right_title">
            <div class="log">
                <% if(logined == false){ %>
                    <a href="/login" class="logs">로그인</a>
                    <a href="/register" class="logs">회원가입</a>
                    <% }else{ %>
                    <span class="log22"><%= name %>님 환영합니다!</span><br><br>
                    <a href="/mypage" class="logs">MyPage</a>
                    <a href="/logout" class="logs">Logout</a>
                    <% } %>
            </div>
            <div class="menubar">
    
                <div class="header_menu">
                    <a href="/"><img src="/images/tkoa.png" alt=""></a>
                </div>
                <nav class="gnb_menu">
                    <a href="/">홈</a>
                    <a href="/jong">종목탐색</a>
                    <a href="/gondong">종목토론</a>
                    <a href="/helper">고객센터</a>
                </nav>
            </div>
        </div>
        
        
        <div class="body_right">
            <div class="deal_site">
                <div class="deal_back">
                    <div class="deal_right">
                        <a href="/jong"><i id='deal_fi' class="fas fa-home"></i></a>
                    </div>
                </div>
                <div class="deal_all_ti">
                    <div class="deal_img">
                        <img src=<%= com.company_src %> alt="">
                    </div>
                    <div class="deal_titles">
                        <%= com.company_name %>
                    </div>
                </div>
                <div class="deal_box">
                    <div class="deal_mini_box">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <span id="deal_big"><%= com.company_name %> 클럽딜 정보</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="deal_ti_per">
                                        <div class="deal_percent_say">1주당 가격</div>
                                        <div class="deal_percent"><%= com.company_price.toLocaleString() %> 원 (<%= com.company_count.toLocaleString() %> 개)</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="deal_ti_per">
                                        <div class="deal_percent_say">총 금액</div>
                                        <div class="deal_percent"><%= (com.company_price * com.company_count).toLocaleString() %> 원</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="graph">
                                        <span id="graph" ></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <% if(logined == false){ %>
                                        <a id="login_sug" href="/login">
                                            <div class="btn4" id="btn4_id">로그인 후 이용하세요</div>
                                        </a>
                                    <% }else{ %>
                                        <div class="bbb">
                                            <input type="number" class="btn12" type="button" min="0" max="<%= com.company_price - com.sold_money %>" value="1000"><span> 원</span>
                                            <div class="max_won">0%</div>
                                            <div class="max_won2">100%</div>
                                        </div>
                                        <% if( Math.floor( 100 - ((((com.company_price * com.company_count) - com.sold_money) / (com.company_price * com.company_count) ) * 100)) == 100){ %>
                                            <div class="end_bt">종료</div>
                                        <% }else{ %>
                                        <input class="btn6" type="button" value="구입하기">
                                        <% } %>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="deal_ti_per">
                                        <div class="deal_percent_say">참여 금액</div>
                                        <div class="deal_percent"><%= com.sold_money.toLocaleString() %> 원</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="danger_box">
                    <input type="radio" name="tabmenu" id="tab01" checked>
                    <label for="tab01">출자위험안내</label>
                    <input type="radio" name="tabmenu" id="tab02">
                    <label for="tab02">환불정보</label>

                    <div class="conbox con1">
                        <textarea name="" id="introduce" cols="30" rows="23" readonly>
출자위험안내

본 위험고지서는 귀하가 (주)캡박스가 운영하는 서비스 위에서, 업무집행조합원과 함께 조합에 참여하여 조합을 공동경영하기 전에 출자의 위험을 사전에 충분히 인지할 수 있도록 (주)캡박스가 귀하에게 고지하는 내용입니다.

1. 귀하의 출자대상은 조합의 지분으로서 투자대상회사의 주식 그 자체가 아닙니다. 설립되는 조합이 비상장주식을 매수하게 되며 귀하는 그 조합의 지분을 보유하게 됩니다.


2. 조합의 업무집행조합원 및 다른 조합원은 귀하와 조합의 동업자로서, 조합 출자재산의 운영 및 배분은 조합원 전원의 합의로 이루어지고, 업무집행조합원은 조합의 출자재산을 운용하지 않습니다.


3. 조합의 매수대상인 투자대상회사의 증권은 원본손실의 위험성이 있으며, 출자한 자금의 원본을 회수할 없음에 따른 손실의 위험이 있음을 이해합니다. 또한 귀하가 예상하거나 기대하는 수익의 일부 또는 전부를 얻지 못할 수 있습니다.


4. 귀하는 (주)캡박스의 홈페이지에 게재된 매수대상회사에 대한 설명, 매수대상회사의 매수조건, 매수대상회사의 매수 시점 및 가격, 업무집행조합원의 성과보수, 업무집행조합원의 역할, 출자위험요소 등을 충분히 확인하였습니다.


5. 귀하는 (주)캡박스는 업무집행조합원이 안전하고 쉽게 조합을 만드는 것을 도와주는 역할만 수행하므로 출자손실의 위험을 보전하는 당사자가 아님을 확인합니다. 조합의 업무집행조합원 역시 귀하와 같이 조합을 설립하고 운영하는 동업자로서 출자손실의 위험을 보전하는 당사자가 아님을 확인합니다. 즉, 출자에 대한 모든 위험은 본인에게 있음을 확인합니다.


6. 귀하는 조합을 통해 매수하는 매수대상회사의 비상장증권은 한국거래소의 상장을 목적으로 하는 것이 아니며, 따라서 증권의 환금성에 큰 제약이 있다는 점과 예상 회수금액에 대한 일부 혹은 전부를 회수할 수 없는 위험이 있음을 이해하며, 귀하가 이를 감당할 수 있음을 확인합니다.


7. 조합이 매수하게 되는 매수대상회사가 비상장 기업인 경우 성장초기단계에 있는 경우가 많기 때문에, 정기 배당을 실시하는 경우가 매우 드뭅니다. 따라서 배당수익을 기대하고 출자를 할 경우 기대한 만큼의 수익을 얻지 못할 수 있습니다.


8. 조합이 매수하게 되는 매수대상회사는 지속적으로 성장하기위하여 해당 기업의 정관에 근거하여 유상증자를 실시할 가능성이 높습니다. 유상증자로 인하여 조합이 보유한 지분율은 감소될 수 있습니다.


9. 귀하는 시장의 상황, 제도의 변경이 있을 수 있으며, 자본시장법 등 관련법규에 근거하여 출자의 한도에 제한이 있는 경우 이를 준수하여야 함을 이해합니다.


10. 귀하는 귀하가 보유한 조합의 지분에 대하여 원칙적으로 1년간 전매가 제한된다는 점을 이해합니다. 단, 조합이 보유한 매수대상회사의 주식은 아무런 제한 없이 매매가 가능합니다.


위 사항들은 조합의 출자에 수반되는 위험과 관련하여 귀하가 알아야 할 사항을 간략하게 서술한 것으로 귀하의 위 거래와 관련하여 발생될 수 있는 모든 위험과 중요 사항을 전부 기술한 것은 아닙니다. 따라서 상세한 내용은 (주)캡박스 및 관계법규를 통하여 확인하여야 합니다.
                        </textarea>
                    </div>
                    <div class="conbox con2">
                        <textarea name="" id="introduce" cols="30" rows="23" readonly>
비상장주식회사의 비통일주권의 거래를 위해,
주식양수도계약, 명의개서*를 완료 해야 합니다
                            
본 과정은 회계사와 (주)트코아가 안전하게 진행합니다.
단, 계약이 완료되지 못한 경우, 바로 공지드리며 영업일 기준 D+8내에 입금하신 계좌로 전액 환불됩니다.
                            
단순 변심으로 인한 환불 요청시 환불 수수료 10만원이 발생하며, 조합규약 발송 이후에는 환불 수수료 20만원이 발생합니다. 조합규약 서명 이후에는 환불이 불가합니다.
                            
입금 선착순에 의한 환불케이스인 경우 사용된 포인트는 3영업일 이내에 복원됩니다.
                            
*명의개서:회사에서 주주명부에 새로운 주주로 등재하는 것
                        </textarea>
                    </div>
                </div>

                <div class="company_inform">
                    <div class="company_inform_com">기업정보</div>
                    <div class="company_inform_dae">기업대표 : <%= com.daepho %></div>
                    <div class="company_inform_add">주소 : <%= com.juso %></div>
                </div>
            </div>
            
        </div><!--body_right-->

    </div><!--right_wrapper-->

    <!-- javascript -->
    <script src="/javascripts/main.js"></script>
</body>
</html>