<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TKOA</title>
    <!-- The King Of Ant -->
    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- jQuery -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 우편번호 -->
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap" rel="stylesheet">
    <!-- start for html of javascript -->
    <script>
        $(document).ready(function(){
            $('#box_push').on('click',()=>{
                console.log('입금처리');
                $.ajax({
                    url: '/mypage/insert',
                    dataType: 'json',
                    type: 'POST',
                    data: {'data': $('#box_num').val()},
                    success: (result)=>{
                        if(result['result'] == true){
                            alert('입금완료!');
                        }
                        location.reload('/mypage');
                    }
                });
            });
            $('#box_push2').on('click',()=>{
                console.log('출금처리');
                $.ajax({
                    url: '/mypage/output',
                    dataType: 'json',
                    type: 'POST',
                    data: {'data': $('#box_num2').val()},
                    success: (result)=>{
                        if(result['result'] == true){
                            alert('출금완료!');
                        }else{
                            alert('출금실패');
                        }
                        location.reload('/mypage');
                    }
                });
            });
            

        });
    </script>
</head>
<body>
    <!-- pc recommend mobile -->
    <div class="left_wrapper">
        <div class="box"></div>
        <div class="pc_only">
            <div class="img_area">
                <img src="/images/logobox.png" alt="TKOA로고">
            </div>
            <div class="img_people">
                <img src="/images/anthalf.png" alt="ant">
            </div>
            <div class="title">
                비상장주식 거래소<br>첫걸음
                <p>트코아는<br>비상장 회사의<br>주식을 확보하여<br>주주가 될 수 있게 합니다.</p>
                <p class="blue">트코아 웹사이트는 모바일 웹 환경으로 구성되었습니다!</p>
            </div>
        </div>

    </div>
    <!-- mobile-area -->
    <div class="right_wrapper">
        <!-- 타이틀 -->
        <div class="right_title">
            <div class="log">
                <span class="log22"><%= name %>님 환영합니다!</span><br><br>
                <a href="/mypage" class="logs">MyPage</a>
                <a href="/logout" class="logs">Logout</a>
            </div>
            <div class="menubar">
    
                <div class="header_menu">
                    <a href="/"><img src="/images/tkoa.png" alt=""></a>
                </div>
                <nav class="gnb_menu">
                    <a href="/">홈</a>
                    <a href="/jong">종목탐색</a>
                    <a href="/gondong">종목토론</a>
                    <a href="/helper">고객센터</a>
                </nav>
            </div>
        </div>
        
        
        <div class="body_right">
            <div class="user_data">
                <div class="user_title">
                    <i class="fas fa-user-astronaut"></i>
                    <span><%= name%>'s Mypage</span>
                </div>
                <div class="user_area">
                    <div class="user_money">
                        KRW
                        <i class="fas fa-won-sign"></i> <%= money.toLocaleString() %>
                    </div>
                </div>
            </div>
            <br>
            <div class="user_button">
                <div class="box_but_user">
                    <form class="insert_user">
                        <input type="number" id="box_num" placeholder="0">
                        <input type="button" value="입금" id="box_push">
                    </form>
                    <form class="output_user">
                        <input type="number" id="box_num2" placeholder="0">
                        <input type="button" value="출금" id="box_push2">
                    </form>
                    <div class="box_22">
                        <font id="push_font">10% 수수료가 부과됩니다</font>
                    </div>
                </div>
                <div class="user_data_wallet">
                    <div class="wallet_title">
                        입출금 내역
                    </div>
                    <div class="wallet_body">
                        <ul>
                        <% wallet.forEach((item,index)=>{ %>
                            <li class="wallet_wallet">
                                <!-- 'YYYY.MM.DD, HH:MM' -->
                                <div class="wallet_date"><%= momment(item.date).format('YYYY.MM.DD') %></div>
                                <div class="wallet_now"><%= item.money_history.toLocaleString() %>원</div>
                                <div class="wallet_status"><%= item.doit%></div>
                            </li>
                        <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="user_jusick">
                <div class="user_jusick_title">보유 주식</div>
                <div class="user_jusick_bodys">
                    <table class='body_table'>
                        <tr id='s'>
                            <td id='a'>회사</td>
                            <td id='b'>공동가격</td>
                            <td id='c'>개수</td>
                            <td id='d'>매수금액</td>
                        </tr>
                            <% tt.forEach((item,index)=>{ %>
                            <tr id='s'>
                                <td id='a'><%= item.company_name %></td>
                                <td id='b'><%= item.price.toLocaleString() %></td>
                                <td id='c'><%= item.count.toLocaleString() %></td>
                                <td id='d'><%= item.bought.toLocaleString() %></td>
                            </tr>
                            <% }) %>
                    </table>
                </div>
            </div>
        </div><!--body_right-->

    </div><!--right_wrapper-->

    <!-- javascript -->
    <script src="/javascripts/main.js"></script>
</body>
</html>